# Configuration file

disableditems {
    B:"minecraft:diamond_axe"=true
    B:"minecraft:diamond_boots"=true
    B:"minecraft:diamond_chestplate"=true
    B:"minecraft:diamond_helmet"=true
    B:"minecraft:diamond_hoe"=true
    B:"minecraft:diamond_leggings"=true
    B:"minecraft:diamond_pickaxe"=true

    #  [default: true]
    B:"minecraft:diamond_shovel"=true
    B:"minecraft:diamond_sword"=true
    B:"minecraft:golden_axe"=true
    B:"minecraft:golden_boots"=true
    B:"minecraft:golden_chestplate"=true
    B:"minecraft:golden_helmet"=true
    B:"minecraft:golden_hoe"=true
    B:"minecraft:golden_leggings"=true
    B:"minecraft:golden_pickaxe"=true

    #  [default: true]
    B:"minecraft:golden_shovel"=true
    B:"minecraft:golden_sword"=true
    B:"minecraft:iron_axe"=true
    B:"minecraft:iron_boots"=true
    B:"minecraft:iron_chestplate"=true
    B:"minecraft:iron_helmet"=true
    B:"minecraft:iron_hoe"=true
    B:"minecraft:iron_leggings"=true
    B:"minecraft:iron_pickaxe"=true

    #  [default: true]
    B:"minecraft:iron_shovel"=true
    B:"minecraft:iron_sword"=true
    B:"minecraft:leather_boots"=true
    B:"minecraft:leather_chestplate"=true
    B:"minecraft:leather_helmet"=true
    B:"minecraft:leather_leggings"=true
    B:"minecraft:stone_axe"=true
    B:"minecraft:stone_hoe"=true
    B:"minecraft:stone_pickaxe"=true

    #  [default: true]
    B:"minecraft:stone_shovel"=true
    B:"minecraft:stone_sword"=true
    B:"minecraft:wooden_axe"=true
    B:"minecraft:wooden_hoe"=true
    B:"minecraft:wooden_pickaxe"=true

    #  [default: true]
    B:"minecraft:wooden_shovel"=true
    B:"minecraft:wooden_sword"=true
}


disabledtypes {
    #  [default: true]
    B:axe=false

    #  [default: true]
    B:boots=false

    #  [default: true]
    B:bow=false

    #  [default: true]
    B:chestplate=false

    #  [default: true]
    B:helmet=false

    #  [default: true]
    B:hoe=false

    #  [default: true]
    B:leggings=false

    #  [default: true]
    B:pickaxe=false

    #  [default: false]
    B:shield=false

    #  [default: true]
    B:shovel=false

    #  [default: true]
    B:sword=false
}


general {
    # Should vanilla item recipes be removed? [default: true]
    B:performItemDisabling=true

    # Should vanilla tool items be effectively nullified (maximum damage set to 1)? [default: true]
    B:performItemNeutralizing=true

    # Should Tinkers' Construct items be capable of replacing vanilla equivalents in recipes? [default: true]
    B:performRecipePatchwork=true

    # Should ingredients be replaced in compatible recipes? This will primarily affect recipe guides. [default: true]
    B:performRecipeReplacement=true
}


jei {
    # Should disabled items be hidden in JEI? [default: true]
    B:hideDisabledItems=false

    # If hideDisabledItems is enabled, should recipes which take in the disabled tool as input also be disabled? (f.e. smelting) [default: false]
    B:hideInputRecipes=false

    # If hideDisabledItems is enabled, should recipes which take in the disabled tool as output also be disabled? (f.e. anvil) [default: true]
    B:hideOutputRecipes=true
}


materialmap {
    # Will match any material on this list for the head, or all materials if empty. [default: [manyullyn]]
    S:diamond <
        manyullyn
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [cobalt]]
    S:gold <
        cobalt
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [iron]]
    S:iron <
        iron
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [paper]]
    S:leather <
        paper
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [stone]]
    S:stone <
        stone
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [wood]]
    S:wood <
        wood
     >
}


